# SendGrid API Settings
SendGrid__ApiKey=YOUR_SENDGRID_API_KEY
SendGrid__FromEmail=YOUR_SENDER_EMAIL
SendGrid__FromName=YOUR_SENDER_NAME

# Razorpay API Settings
Razorpay__KeyId=YOUR_RAZORPAY_KEY_ID
Razorpay__KeySecret=YOUR_RAZORPAY_KEY_SECRET
